<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>WORKING ON TEST PAGE</title>

    <!-- Theme CSS -->
    <link href="css/fixnow.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <!-- NAVIGATION -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="http://www.fixnow.co.kr" class="navbar-brand navbar-left"><img src="img/logo_new.png" alt="FIXNOW" title="FIXNOW" style="height: 33px;
          width: 169px; margin:auto auto; padding: auto;"></a>
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mydropdown">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="mydropdown">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">아이폰 수리 요청</a></li>
            <li><a href='#'>수리 비용 안내</a></li>
            <li><a href='#'>방문 개통 요청</a></li>
            <li><a href='#'>고객지원</a></li>
            <li><a href='#'>픽스나우 스토어</a></li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- END NAVIGATION -->

    <!-- HEADER -->
    <div id="header" class="header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <h1>가장 쉽고 빠른 당일 출장수리</h1>
            <h1><%= results[0].name %></h1>
            <p>카페, 사무실 등 원하는 장소에서 20분만에 수리 받으세요.</p>
            <p>출장비 또는 카드결제 시 추가비용을 청구하지 않습니다.</p>
            <button class="btn btn-lg btn-primary">출장수리 요청하기</button>
            <button class="btn btn-lg btn-success">방문개통 요청하기</button>

          </div>
        </div>
      </div>
    </div>
    <!-- END HEADER -->
    <!-- SECTION 1 -->
    <div id="section1" class="section section1">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <img src="../img/shce.png" class="img-responsive center-block">
            <h3>온라인 예약 시스템</h3>
            <p>"출장수리 요청하기"</p>
            <p>1분이면 충분합니다.</p>
          </div>
          <div class="col-md-3">
            <img src="../img/car.png" class="img-responsive center-block">
            <h3>온라인 예약 시스템</h3>
            <p>"출장수리 요청하기"</p>
            <p>1분이면 충분합니다.</p>
          </div>
          <div class="col-md-3">
            <img src="../img/card.png" class="img-responsive center-block">
            <h3>온라인 예약 시스템</h3>
            <p>"출장수리 요청하기"</p>
            <p>1분이면 충분합니다.</p>
          </div>
          <div class="col-md-3">
            <img src="../img/warr.png" class="img-responsive center-block">
            <h3>온라인 예약 시스템</h3>
            <p>"출장수리 요청하기"</p>
            <p>1분이면 충분합니다.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION 2 -->
    <div id="section2" class="section section2">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 faq">
            <button class="btn btn-lg" name="button">자주 묻는 질문 보러가기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION 3 -->
    <div id="section3" class="section section3">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <a href="#"><img src="../img/biz.png" style="width:136px;"></a>
          </div>
          <div class="col-md-2 col-half-offset">
            <a href="#"><img src="../img/vs.png" style="width:178px;"></a>
          </div>
          <div class="col-md-2 col-half-offset">
            <a href="#"><img src="../img/pla.png" style="width:119px;"></a>
          </div>
          <div class="col-md-2 col-half-offset" style="height:50px;">
            <a href="#"><img src="../img/pri.png" style="height:25px; width:94px; margin:12.5px auto;"></a>
          </div>
          <div class="col-md-2 col-half-offset">
            <a href="#"><img src="../img/str.png" style="width:206px;"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- SECTION 4 -->
    <div id="section4" class="section section4">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 rsv">
            <button class="btn btn-lg" name="button">아이폰 출장수리 요청하기</button>
          </div>
        </div>

      </div>
    </div>

    <!-- FOOTER -->
    <div id="footer"class="section footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 policy">
            <ul class="list-inline">
              <li><a href="#">이용약관</a></li>
              <li><a href="#">개인정보취급방침</a></li>
              <li><a href="#">보상정책</a></li>
              <li><a href="#">무상보증서비스신청</a></li>
            </ul>
            <div class="clearfix"></div>
            <p>
            상호: 주식회사 픽스나우 대표이사: 맹주훈 개인정보관리책임자: 유종민 통신판매업신고번호: 제 2016-서울강남-02184호<br>
            사업자등록번호: 518-81-00043 주소: 서울시 강남구 선릉로 551 대표번호: 1599-2665 이메일: contact@fixnow.co.kr
            </p>
          </div>
          <div class="col-md-3 callout">
            <h3>고객센터 및 영업시간</h3>
            <h2>1599-2665</h2>
          </div>
          <div class="col-md-3 workinghours">
            <p>월요일 및 공휴일 휴무</p>
            <h5>평일 09 - 22시  토요일 10 - 18시</h5
          </div>
        </div>
        <div class="row">
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
          <a href="#"><img src="" alt=""></a>
        </div>
      </div>
    </div>

    <p class="rights">&#169; FIXNOW Inc. All Rights Reserved.</p>


  </body>


  <!-- jQuery -->
  <script src="vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>


</html>
